<!DOCTYPE html>
<html>	
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="css/style2.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="htp://www.alohaeditor.org/download/aloha.min.js"></script>
<!--
		<script src="../../../aloha.min.js" defer></script>
-->
	</head>
	
	<body>
		
		
		<main>
		<h1>Template2 - Titre de la page</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">BLog</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
			
			<p>Saraceni tamen nec amici nobis umquam nec hostes optandi, ultro citroque discursantes quicquid inveniri poterat momento temporis parvi vastabant milvorum rapacium similes, qui si praedam dispexerint celsius, volatu rapiunt celeri, aut nisi impetraverint, non inmorantur.</p>
			<button>save</button>
		</main>


<!--
		<script type="text/javascript">
    aloha.settings = {
        plugins: {
            format: {
                // all elements with no specific configuration get this configuration
                config: [  'b', 'i', 'sub', 'sup', 'p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6' ],
                editables: {
                    // no formatting allowed for title
                    '#title': [],
                    // just bold and italic for the teaser
                    '#teaser': [ 'b', 'i' ]
                }
            }
        }
    }
</script>
<script>aloha(document.querySelector('#editable'));</script>
-->
	</body>
	
</html>
