body {
	background:#333;
	width:100%;
	margin:0;
}

a {
	text-decoration:none;
	color:#333;
}

header,footer {
	width:100%;
	height: 88px;
	background:#222;
	padding:10px;
	color:#fff;
}

#header {
	width:71%;
	display:block;
	margin:auto;

}

#header h1 {
	float:left;
	font-size:24px;
	color:#fff;
	padding: 10px;
}

#header img {
	width:200px;
	float:left;
}

nav {
	width:70%;
	display:block;
	margin:auto;
}

nav ul {
	margin:0;
	padding:10px 0;
}

nav li {
	list-style-type:none;
	display:inline-block;
}

nav a {
	text-decoration:none;
	color:#fff;
	padding-right:20px;
}

main {
	width:68%;
	height:700px;
	display:block;
	margin:auto;
	background:#f4f4f4;
	padding:10px;
}

iframe {
	background:#fff;
}
article {
	width:55%;
	border:1px solid black;
	float:left;
	padding:1% 2%;
}
aside {
	width:34%;
	float:right;
	padding:1% 2%;
}



#editeur {
	width:100%;
	height:auto;
	margin-bottom:10px;
	background:rgba(0,0,0,.4);
	border:1px solid #333;
	float:left;
}

form{
	display:none;
	padding:10px;
	width:60%;
	float:left;
	color:#fff;
	margin-bottom:0;
}
button {
	float:left;
}

#publier{
	margin:25px 10px;
}

label {
padding-top:10px;
}

#maj {
	display:block;
}

.template2 aside{
	float:left;
}

.template2 article{
	float:right;
}
