body {
	background:#303C74;
	width:100%;
}

nav {
	width:70%;
	display:block;
	margin:auto;
}

nav ul {
	margin:0;
	padding:10px 0;
}

nav li {
	list-style-type:none;
	display:inline-block;
}

nav a {
	text-decoration:none;
	color:#fff;
	padding-right:20px;
}

main {
	width:69%;
	display:block;
	margin:auto;
	background:#fff;
	padding:10px;
}

